<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/8226/8226926.png">
    <title>Calculo de Rutas</title>
</head>
<body >
    <center>
    <h1>.:BUSCANDO LA MEJOR RUTA:.</h1>
    <h2>Ingresa el numero de pedidos</h2>
    <img src="https://www.beetrack.com/hs-fs/hubfs/Rutas%20punto%20a%20punto.jpg?width=720&name=Rutas%20punto%20a%20punto.jpg" width="300" style="background: fixed;">
<br>
    <form action="/resultado" method="get">
        <label for="maxcarga">Capacidad Máxima de Carga:</label>
        <input type="number" name="maxcarga" id="maxcarga" required><br><br>
        <br>
        <!-- Campo de entrada para pedidos -->
        <label for="pedido_jilotepec">JILOTEPEC:</label>
        <input type="number" name="pedido_jilotepec" id="pedido_jilotepec" required><br><br>
        <label for="pedido_toluca">TOLUCA:</label>
        <input type="number" name="pedido_toluca" id="pedido_toluca" required><br><br>
        <label for="pedido_atlacomulco">ATLACOMULCO:</label>
        <input type="number" name="pedido_atlacomulco" id="pedido_atlacomulco" required><br><br>
        <label for="pedido_guadalajara">GUADALAJARA:</label>
        <input type="number" name="pedido_guadalajara" id="pedido_guadalajara" required><br><br>
        <label for="pedido_monterrey">MONTERREY:</label>
        <input type="number" name="pedido_monterrey" id="pedido_monterrey" required><br><br>
        <label for="pedido_cancun">CANCUN:</label>
        <input type="number" name="pedido_cancun" id="pedido_cancun" required><br><br>
        <label for="pedido_morelia">MORELIA:</label>
        <input type="number" name="pedido_morelia" id="pedido_morelia" required><br><br>
        <label for="pedido_aguascalientes">AGUASCALIENTES:</label>
        <input type="number" name="pedido_aguascalientes" id="pedido_aguascalientes" required><br><br>
        <label for="pedido_queretaro">QUERETARO:</label>
        <input type="number" name="pedido_queretaro" id="pedido_queretaro" required><br><br>
        <label for="pedido_cdmx">CDMX:</label>
        <input type="number" name="pedido_cdmx" id="pedido_cdmx" required><br><br>
        <!-- Agrega campos de entrada similares para otros pedidos -->
        
        <input type="submit" style="color: cadetblue;" value="ENVIAR">
    </form>
</center>
</body>
</html>
